<%- include('header'); %>
    <div class="ui main text container segment">
        <div class="ui huge header" style="margin-top: 2.5em;"> NEW BLOG</div>
        <form class="ui form" action="/blogs" method="POST">
            <div class="field">
                <label>Title:</label>
                <input type="text" name="blog[title]" placeholder="Title">
            </div>
            <div class="field">
                <label>Image:</label>
                <input type="text" name="blog[image]" placeholder="image">
            </div>
            <div class="field">
                <label>Blog:</label>
                <textarea rows="10" cols="50" name="blog[body]" placeholder="Blog Content goes here...."></textarea>
            </div>
            <button class="ui inverted big secondary button">SUBMIT</button>
        </form>
    </div>